#!/usr/bin/make -f

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@ --parallel

override_dh_auto_configure:
	# FIXME: Headers are arch-independent, but to avoid creating yet
	# another package, they are included in the triplet directory so
	# that they can be shipped alongside the rest
	dh_auto_configure -- \
	    -DCMAKE_BUILD_TYPE=RelWithDebInfo \
	    -DECM_MKSPECS_INSTALL_DIR=/usr/lib/$(DEB_HOST_MULTIARCH)/qt5/mkspecs/modules \
	    -DQML_INSTALL_DIR=/usr/lib/$(DEB_HOST_MULTIARCH)/qt5/qml
